{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div class="container">    
    <h1>
        <a class="small" href="{{ path('restaurant_admin') }}" title="Retour"><i class="glyphicon glyphicon-chevron-left"></i></a>
        Nouveau restaurant
    </h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col-md-6">
        <div class="form-group">
        {{ form_row(form.group) }}
        </div>
        <div class="form-group">
        {{ form_row(form.name) }}
        {{ form_row(form.manager) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-phone">
            <label>Téléphone</label>
            {{ form_widget(form.phone.prefix) }}
            {{ form_widget(form.phone.number) }}
        </div>
        <div class="form-group">
            <div class="form-address-street">
                <label>Numéro et nom de rue</label>
                {{ form_widget(form.address.number) }}
                {{ form_widget(form.address.street) }}
            </div>
            <div class="form-address-city">
                <label>Code postal et ville</label>
                {{ form_widget(form.address.postcode) }}
                {{ form_widget(form.address.city) }}
                {{ form_row(form.address.country) }}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
