{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img class="hidden-xs" src="{{ asset('bundles/iodefault/images/logo.png') }}" alt="InnovOrder" />
                <span class="visible-xs">InnovOrder</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {#
                <li><a href="#"><i class="fa fa-cutlery"></i> Commandes</a></li>
                <li><a href="#"><i class="fa fa-edit"></i> La carte</a></li>
                <li><a href="#"><i class="fa fa-bar-chart-o"></i> Tableau de bord</a></li>
                #}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown{% if '/admin/' in currentPath %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-cog"></i>
                        Administration
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li{% if currentPath starts with path('restaurant_admin') %} class="active"{% endif %}><a href="{{ path('restaurant_admin') }}"><i class="glyphicon glyphicon-cutlery"></i> Restaurant</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="divider"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        {{ app.user.username }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('fos_user_profile_edit') }}"><i class="glyphicon glyphicon-edit"></i> Modifier mon profil</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out"></i> Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
